archiso/liveusb/airootfs/mnt/
archiso/liveusb/airootfs/root/
archiso/cache/
archiso/output/
archiso/workdir/
live-welcome/mod-live-usb-welcome
live-welcome/resources/watermark.txt

*.kdev4
*.o
.stamp_built
