#
# SPDX-License-Identifier: GPL-3.0-or-later

[Unit]
Description=MOD Live-USB Welcome
After=livecd-alsa-unmuter.service

[Service]
Type=simple
Environment=QT_LOGGING_RULES=qt.qpa.*=true
Environment=USING_SYSTEMD=1
ExecStart=/root/.mod-live/mod-live-usb-welcome.run
Restart=always
WorkingDirectory=/root/

[Install]
WantedBy=sound.target
