[Unit]
Description=JACK Audio Connection Kit Daemon
After=sound.target

[Service]
Type=notify
EnvironmentFile=/mnt/config/environment.sh
EnvironmentFile=/mnt/config/soundcard.sh
LimitRTPRIO=95
LimitRTTIME=infinity
LimitMEMLOCK=infinity
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=70
# ExecStartPre=/usr/bin/ls /dev/snd
# ExecStartPre=/usr/bin/cat /proc/asound/cards
# ExecStartPre=/usr/bin/aplay -l
ExecStart=/usr/bin/jackd -R -P 60 -S -t 200 -C /mnt/config/jack-internal-session.conf -d alsa -d ${SOUNDCARD_HW} -r ${SAMPLERATE} -p ${BUFFERSIZE} -n ${NPERIODS} ${CAPTUREARGS} ${PLAYBACKARGS} ${EXTRAARGS} -X seq
Restart=always
User=root
Group=root
KillSignal=SIGKILL
Nice=-19
OOMScoreAdjust=-1000
IOSchedulingClass=realtime
IOSchedulingPriority=0
# Environment=MOD_LOG=1
StandardOutput=journal+console
StandardError=journal+console
SyslogIdentifier=jack2

[Install]
WantedBy=multi-user.target
