[Unit]
Description=JACK Audio Connection Kit Daemon
After=sound.target

[Service]
Type=notify
EnvironmentFile=/mnt/config/environment.sh
EnvironmentFile=/mnt/config/soundcard.sh
LimitRTPRIO=95
LimitRTTIME=infinity
LimitMEMLOCK=infinity
# ExecStartPre=/usr/bin/ls /dev/snd
# ExecStartPre=/usr/bin/cat /proc/asound/cards
# ExecStartPre=/usr/bin/aplay -l
# ExecStart=/usr/bin/jackd -R -P 60 -S -t 200 -C /mnt/config/jack-internal-session.conf -d dummy -r 48000 -p 256
ExecStart=/usr/bin/jackd -R -P 60 -S -t 200 -C /mnt/config/jack-internal-session.conf -d alsa -d ${SOUNDCARD_HW} -r ${SAMPLERATE} -p ${BUFFERSIZE} -n ${NPERIODS} ${CAPTUREARGS} ${PLAYBACKARGS} ${EXTRAARGS} -X seq
Restart=always
User=root
Group=root
Nice=-19
Environment=MOD_LOG=1
StandardOutput=tty
StandardError=tty

[Install]
WantedBy=multi-user.target
