[Unit]
Description=MOD Web Server
After=jack2.service

[Service]
Type=simple
EnvironmentFile=/mnt/config/environment.sh
LimitRTPRIO=95
LimitRTTIME=infinity
LimitMEMLOCK=infinity
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=55
ExecStart=/usr/bin/python3 /usr/bin/mod-ui
Restart=always
User=root
Group=root
Nice=-17
# Environment=MOD_LOG=1
StandardOutput=journal+console
StandardError=journal+console
SyslogIdentifier=mod-ui

[Install]
WantedBy=multi-user.target
